<html>
<head>
  <title>About | Rails Sample App</title>
</head>
  <h1 align="center">About</h1>
  <p align='center'> Welcome to this about page, which will tell you exactly nothing about this website, because there's nothing on it</p>
</html>