<html>    
  <head>
    <title>Home | Rails Sample App</title>
  </head>
    <h1 align='center'>Rails Sample App - Home</h1>
    <p align="center">This is the home page for this simple, straightforward project to create a sample web app.</p>
</html>