<% provide(:title, 'All Users') %>
<h1>All Users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 60 %>
      <%= link_to user.name, user %>
    </li>
  <% end %>

<%= will_paginate %>

</ul>