<footer class="footer">
  <small>
    Meet the <a href="#">Sample App Development Team</a>
    We're based in <a href="#">London, United Kingdom</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Us", about_path %></li>
      <li><%= link_to "Get In Contact", contact_path %></li>
      <li><%= link_to "News", "#" %></li>
    </ul>
  </nav>
</footer>